Repository mui/pigment-css, pull requests merged in 2024-07, with the labels that each got.

#157 [examples] Rename next.config.js to next.config.mjs
  README.md
  examples/pigment-css-nextjs-ts/next.config.mjs
Labels: examples, nextjs

#169 [vite] Pass down `transformLibraries`
  .github/workflows/ci.yml
  packages/pigment-css-vite-plugin/src/index.ts
Labels: regression, vite

#165 [plugin] Allow runtime libraries to have their own theme and styles css path
  apps/pigment-css-next-app/package.json
  apps/pigment-css-vite-app/package.json
  package.json
  packages/pigment-css-react/package.json
  packages/pigment-css-react/src/processors/base-processor.ts
  packages/pigment-css-react/src/processors/createExtendSxProp.ts
  packages/pigment-css-react/src/processors/createUseThemeProps.ts
  packages/pigment-css-react/src/processors/generateAtomics.ts
  packages/pigment-css-react/src/processors/styled.ts
  packages/pigment-css-react/src/processors/useTheme.ts
  packages/pigment-css-react/src/utils/cssFnValueToVariable.ts
  packages/pigment-css-react/tests/styled/fixtures/styled-import-replacement.input.js
  packages/pigment-css-react/tests/styled/fixtures/styled-import-replacement.output.css
  packages/pigment-css-react/tests/styled/fixtures/styled-import-replacement.output.js
  packages/pigment-css-react/tests/styled/styled.test.tsx
  packages/pigment-css-react/tests/testUtils.ts
  packages/pigment-css-unplugin/src/index.ts
  packages/pigment-css-vite-plugin/src/index.ts
  packages/pigment-css-vite-plugin/src/vite-plugin.ts
  pnpm-lock.yaml
Labels: nextjs, vite

#172 [vite] Allow package authors to specify packages to include in vite
  packages/pigment-css-vite-plugin/src/index.ts
Labels: vite

#173 v0.0.17
  CHANGELOG.md
  package.json
  packages/pigment-css-nextjs-plugin/package.json
  packages/pigment-css-react/package.json
  packages/pigment-css-unplugin/package.json
  packages/pigment-css-vite-plugin/package.json
Labels: release

#183 [core] Replace global JSX
  apps/local-ui-lib/index.d.ts
  packages/pigment-css-react/src/Box.d.ts
  packages/pigment-css-react/src/base.ts
  packages/pigment-css-react/src/styled.d.ts
Labels: core

#174 [webpack] Fix support for webpack and add example app
  examples/pigment-css-webpack-ts/.gitignore
  examples/pigment-css-webpack-ts/README.md
  examples/pigment-css-webpack-ts/index.html
  examples/pigment-css-webpack-ts/package.json
  examples/pigment-css-webpack-ts/src/App.tsx
  examples/pigment-css-webpack-ts/src/augment.d.ts
  examples/pigment-css-webpack-ts/src/globals.css
  examples/pigment-css-webpack-ts/src/main.tsx
  examples/pigment-css-webpack-ts/tsconfig.json
  examples/pigment-css-webpack-ts/tsconfig.node.json
  examples/pigment-css-webpack-ts/webpack.config.cjs
  packages/pigment-css-unplugin/src/index.ts
  pnpm-lock.yaml
Labels: webpack

#185 v0.0.18
  CHANGELOG.md
  package.json
  packages/pigment-css-nextjs-plugin/package.json
  packages/pigment-css-react/package.json
  packages/pigment-css-unplugin/package.json
  packages/pigment-css-vite-plugin/package.json
Labels: release
