Repository mui/pigment-css, pull requests merged in 2025-02, with the labels that each got.

#358 [code-infra] Polish VS Code DX
  .editorconfig
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
Labels: dx, enhancement, scope: code-infra

#359 [core] Improve release
  scripts/README.md
Labels: core

#379 [Grid] size proptype to accept grow and auto values
  packages/pigment-css-react/src/Grid.jsx
  packages/pigment-css-react/tests/Grid/fixtures/Grid.output.js
Labels: component: Grid
